.App {
  text-align: center;
  height: 100vh;
  background-image: url('../public/img/wall.jpeg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}


